extends layout

include mixins/crearSucursal

block contenido
	.contenido-principal
		//- -var nombrePagina  = arregloVariables.nombrePagina;
		//- -var errores = arregloVariables.errores;

		h1 #{nombrePagina}
		
		pre=vardump(sucursal)

		if errores
			each error in errores
				.alerta.error=error.texto
			
		+crearSucursal(sucursal)
		

